<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Azure CosmosDB Serverless Recipes</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"  />
</head>
<body>
    <div class="container bootstrap snippet">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-left image">
                        <img src="images/cosmosuser.png" class="img-circle avatar" alt="user profile image" style="border: solid 1px black">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="#"><b>Azure Cosmos DB</b></a>
                            made a post.
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>Microsoft's globally distributed, massively scalable, multi-model database as a service! <strong>#NoSQL</strong> 🚀 🌏 🌌</p>
                    <div class="stats">
                        <a href="#" class="btn btn-default stat-item">
                            👍 2
                        </a>
                        <a href="#" class="btn btn-default stat-item">
                            💗 12
                        </a>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="input-group" ng-controller="Poster as $ctrl">
                        <input class="form-control" placeholder="Add a comment" type="text" ng-model="$ctrl.message" autocomplete="off">
                        <span class="input-group-addon">
                            <a href="#" ng-click="$ctrl.post()" ng-hide="$ctrl.loading">🖊</a>
                            <span ng-show="$ctrl.loading"><img src="images/ajax-loader.gif"/></span>
                        </span>
                    </div>
                    <ul class="comments-list" ng-controller="Comments as $ctrl">
                        <li class="comment" ng-repeat="post in $ctrl.posts">
                            <a class="pull-left" href="#">
                                <img class="avatar" src="https://pbs.twimg.com/profile_images/864632602614837248/CQ5e3pHq_400x400.jpg" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">Matias Quaranta</h4>
                                    <h5 class="time">a moment ago</h5>
                                </div>
                                <p>{{post.message}}</p>
                            </div>
                            <ul class="comments-list">
                                <li class="comment" ng-show="post.hasFeedback">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="/images/cognitive.png" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">Azure Cognitive Services</h4>
                                            <h5 class="time"></h5>
                                        </div>
                                        <p>Positive score {{post.score}}</p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="scripts/signalr.js"></script>
    <script src="scripts/site.js"></script>
</body>
</html>
